[submodule "osinstall-ui"]
	path = osinstall-ui
	url = https://github.com/idcos/osinstall-ui.git
[submodule "osinstall-doc"]
	path = osinstall-doc
	url = https://github.com/idcos/osinstall-doc.git
[submodule "osinstall-server"]
	path = osinstall-server
	url = https://github.com/idcos/osinstall-server.git
[submodule "osinstall-hardware"]
	path = osinstall-hardware
	url = https://github.com/idcos/osinstall-hardware
